.MusicApp {
    position: fixed;
    background: #bab6b6;
    padding: 10px 20px;
    left: 0;
    top: 0;
    right: 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}