.MusicApp {
    position: fixed;
    background: #e7e7e7;
    padding: 10px 20px;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.MusicBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15px;
    border: none;
    transition: 0.2s;
    margin: 10px;
    cursor: pointer;
}

.MusicBtn:focus {
    outline: none;
}

.MusicBtn:hover {
    transform: scale(1.1) rotate(10deg);
}

.MusicBtn:active {
    transform: scale(0.9);
}

.Music {
    flex-grow: 1;
    margin: 5px 20px;
}

.MusicProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    width: 80%;
    margin: 0 auto;
}

.MusicProgressLine {
    width: 100%;
    height: 0px;
}

.PlayBtn {
    background-image: url("./design/play-i.svg");
}

.PlayBtn.stop {
    background-image: url("./design/stop-i.svg");
}

.PrevBtn {
    background-image: url("./design/prev-i.svg");
}

.NextBtn {
    background-image: url("./design/next-i.svg");
}

.Volume {
    position: relative;
}

.VolumeBtn {
    background-image: url("./design/volume-i.svg");
}

.VolumeBtn:hover ~ .VolumeProgressWrap {
    overflow: visible;
    visibility: visible;
}

.VolumeProgressWrap:hover {
    overflow: visible;
    visibility: visible;
}

.VolumeProgressWrap {
    display: flex;
    justify-content: center;
    height: 120px;
    background: #fff;
    position: absolute;
    border: 1px solid #ccc;
    left: 8px;
    right: 8px;
    top: 40px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.3s linear;
    border-radius: 5px;
}

.VolumeProgressLine {
    transform: rotate(90deg);
    width: 100px;
}
